.pace {
    display: none;
}
body{
    background-color: rgb(53, 51, 51);
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/Capture-removebg-preview\ \(1\).png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
.clr
{
    background-color:rgb(95, 70, 70);
}
